extends layout

block corpo
    .w3-container
        .w3-card-4
            header.w3-container.w3-light-grey
                h1= music.titulo
            .w3-container
                table.w3-table.w3-all
                    tr
                        th Titulo
                        td= music.titulo
                    tr
                        th Subtitulo
                        td= music.subtitulo
                    tr
                        th Tipo
                        td= music.tipo
                    tr
                        th Compositor
                        td= music.compositor
                    tr
                        if music.arranjo
                            th Arranjo
                            td= music.arranjo
                    tr
                        th Intrumentos
                            ul
                                each a in music.instrumentos
                                    li a.nome
                                    li a.partitura.path
                                    if a.voz
                                        li a.voz
                                    if a.clave
                                        li a.clave

            footer.w3-container.w3-light-grey
                    a(href='http://localhost:5000/index') 
                        | Voltar à página principal
                address Geardo por Musicas by cp74
                
                                               